* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}

li a, button {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: flex;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 125%;

}

.Navigation_Bar img {
    height: 80px;
}


.Navigation_Bar header {
    background-color: #fdb714;
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 #fdb714;
    justify-content: space-between;
    padding: 10px 1%;
}

.Blank {
    height: 80px;
}

.section1 {
    background-color: #abdbe3;
    height: 1900px;
    width: 100%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 60px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: black;
}

button {
    padding: 9px 25px;
    width: 200px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}